body,html{
    margin:0px;
    padding:0px;

}

.container{
    margin:0px;
    padding:0px;
    width:100%;
}
.navbar {
    margin: 0px;
    padding: 0px;
}

h1{
    margin:0px;
    padding:0px;
}
.row{
    width:30%;
}
.background{
    background-color:rgba(250,249,254,1);
}