body,html{
    margin:0px;
    padding:0px;
}
.container{
    margin:0px;
    padding:0px;
    width:100%;
}
.navbar {
    margin: 0px;
    padding: 0px;
}
.row{
    padding:0px;
    maring:0px;
}
h1{
    margin:0px;
    padding:0px;
}